:root {
    --color-background:#FFFFFF;
    --color-background-nav:#FFFFFF;
    --color-background-home-banner:linear-gradient(93.06deg, #8E36B7 0%, #D794F6 100%);;
    --color-text-light:#EDEDED;
    --color-text-title:#FF5555;
    --color-text-dark:#3D3D3D;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

  $font-family:  'Source Sans Pro', sans-serif;

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  html,body{
    background-color: var(--color-background);
    font-family: 'Source Sans Pro', sans-serif;
  }

  a{
    text-decoration: none;
    transition: 0.2s opacity;
  }

  a:hover{
    opacity: 0.8;
  }

  button:hover{
    opacity: 0.8;
  }

  .container{
    width: 90%;
  }


